.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: black;


}

.Products1 {
  background-image: linear-gradient(top, #ffffff33 1px, #0000001a 100%);
  box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
  animation: anime 1s infinite ease-in-out alternate;
  -webkit-animation: anime 1s infinite ease-in-out alternate;
  border-radius: 10px;
  height: 590px;
  width: 375px;
  

}

.Products2 {
  background-image: linear-gradient(top, #ffffff33 1px, #0000001a 100%);
  box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
  animation: anime 1s infinite ease-in-out alternate;
  -webkit-animation: anime 1s infinite ease-in-out alternate;
  border-radius: 10px;
  height: 610px;
  width: 390px;
  
}

.Products3 {
  background-image: linear-gradient(top, #ffffff33 1px, #0000001a 100%);
  box-shadow: 50px 50px 50px 50px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
  animation: anime 1s infinite ease-in-out alternate;
  -webkit-animation: anime 1s infinite ease-in-out alternate;
  border-radius: 10px;
  height: 630px;
  width: 375px;
  
}

.contain {
  margin: 40px;

  padding: 20px;
  height: 80vh;
  width: 60vw;
}

.products.img {
  shape-outside: 10px;
}

.contain a {
  text-decoration: none;
  color: black;
}

button {
  color: black;
  padding: 20px;
  margin: 30px;
  font-size: xx-large;
  background-color: rgb(235, 232, 232);
  font-weight: bold;
}

button:hover {
  color: #fff225;
  cursor: pointer;
}